*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mukta', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container_80{
  width: 80%;
  margin: 0 auto;
}
.container_70{
  width: 70%;
  margin: 0 auto;
}
/* header */
/* Header - section header 1 */
.section_header_1{
  z-index: 999;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #f4f9fd;
  border-bottom: 1px solid #32495b;
}

.section_header_1 .col_left,
.section_header_2 .col_left{
  float: left;
  width: 30%;
  height: 100%;
}
.section_header_1 .col_right,
.section_header_2 .col_right{
  float: left;
  width: 70%;
  height: 100%;
}

.section_header_1 nav,
.section_header_2 nav{
height: 80px;
line-height: 80px;
}
.section_header_1 nav li,
.section_header_2 nav li{
  display: inline;
  list-style: none;
}

.section_header_1_right .login-free li,
.section_header_2_right .menu li{
  padding-left: 20px;
}

.section_header_1_left nav a,
.section_header_1_right nav a,
.section_header_2_right nav a{
  text-decoration: none;
}

.section_header_1_left nav a,
.section_header_2_right nav a{
  color: #32495b;
}

.section_header_1_left .language{
  padding-right: 10px;
  border-right: 1px solid #32495b;
}
.section_header_1_left .language i{
  padding: 0 5px;
}

.section_header_1_right,
.section_header_2_right{
  text-align: right;
}

.section_header_1_right i{
  color: rgb(114, 192, 231);
}
/* Fine Header - section 1 */

/* bottoni */
.btn{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fe775a;
}
.btn_log{
  color: #fe775a;
}
.btn_color{
  color: white;
  text-decoration: none;
  background-color: #fe775a;
}
.btn_large{
  padding: 10px;
}

.btn_support{
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #32495b;
  background-color: rgb(222, 221, 220);
}
/* Fine Header - section 1 */
/* Fine header */

/* Header - section 2 */
.section_header_2{
  height: 80px;
}

#logo {
  height: 80px;
  width: 120px;
  line-height: 80px;
}
#logo img{
  height: 100%;
  width: 100%;
}

.section_header_2_right .menu i{
  padding-left: 5px;
}
/* Fine Header - section 2 */

/* Header - section 3 */
.section_header_3{
  position: relative;
  height: 700px;
  width: 100%;
  background-image: url('../img/jumbotron.png');
  background-repeat: round;
  object-fit: cover;
}

.banner_container{
  position: relative;
  height: 100%;
}

.section_header_3 .banner{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 300px;
  width: 50%;
}

.section_header_3 .banner h1{
font-size: 50px;
}
.section_header_3 .banner p{
font-size: 15px;
padding: 30px 0;
}
.section_header_3 .banner p:last-child{
font-size: 12px;
}

.section_header_3 .green_space{
  position: absolute;
  bottom: 0;
  height: 81px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #32495b;
  border-bottom: 3px solid #32495b;
}

/* Fine Header - section 3 */
/* Fine Header */

/* Inizio Main */

/* Main grey space */
main .grey_space{
  width: 100%;
  height: 100%;
  padding: 20px 0 60px 0;
  background-color: #f4f9fd;
}

main .slogan_grey_space{
  text-align: center;
  padding: 20px 0;
}
main .slogan_grey_space h2{
  font-size: 40px;
}

/* Main grey top */
main .col_top_grey_space{
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 5px 5px 15px #888888;
}

.col_top_grey_space .col_left{
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
}
.col_top_grey_space .col_left img{
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 200px;
  height: 150px;
}
.col_top_grey_space .col_left a{
  position: absolute;
  top: 65%;
  right: 50%;
  transform: translateX(50%);
}

.col_top_grey_space .col_right{
  float: left;
  width: 70%;
  height: 100%;
}
.col_top_grey_space .col_right h3{
  font-size: 30px;
  padding: 10px 0;
}

.features h4{
  font-size: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}

.col_right .features h4{
  position: relative;
}
.col_right .features h4::after{
  content: "__________________________________________";
  position: absolute;
  top: 0;
  padding-left: 40px;
}

.col_right .features li{
  list-style: none;
  padding-right:10px;
}
.check::before{
  content: '\2713';
  font-size: 10px;
  color: white;
  padding: 1px 5px;
  border-radius: 50%;
  background-color:#fe775a;
  margin-right: 10px;
}
/* Fine Main grey top */

/* Main grey vert*/
.col_vert_grey_space{
  margin-top: 30px;
  height: 700px;
}

.col_vert{
  float: left;
  width: 27%;
  height: 100%;
  padding: 0 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 15px #888888;
}
.middle_grey_space{
  margin: 0 9.5%;
}

.col_vert_image{
  position: relative;
  width: 100%;
  height: 25%;
}
.col_vert_image img{
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

.col_vert_text{
  height: 25%;
  text-align: center;
  border-bottom: 2px solid grey;
}

.col_vert_features{
  height: 30%;
}
.col_vert_features h4{
  text-align: center;
}
.nav_features li{
  display: block;
  height: 30px;
}

.col_vert_btn{
  position: relative;
  height: 20%;
}
.col_vert_btn a{
  position: absolute;
  top: 5%;
  right: 50%;
  transform: translateX(50%);
}
/* Fine Main grey vert*/

/* Inizio lightgreen */
.lightgreen_space{
  width: 100%;
  height: 100%;
  padding: 50px;
  background: linear-gradient(to right, #00a9ba, #00bba7);
}

.lightgreen_text{
  padding: 10px 0 30px 0;
  text-align: center;
  color: white;
}
.lightgreen_text h1{
 font-size: 30px;
 padding: 10px;
}

.lightgreen_data{
  width: 100%;
  height: 400px;
}
 .lightgreen_data .row{
  height: 200px;
  width: 100%;
}
.lightgreen_data .row_up{
  border-bottom: 1px solid white;
}

.lightgreen_data .zone{
  display: inline;
  float: left;
  height: 200px;
  width: 25%;
}
.zone_border{
  border-right: 1px solid white;
}

.zone .image_data{
  position: relative;
  height: 30%;
}
.zone .image_data img{
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

.zone .number_data{
  height: 70%;
  color: white;
  text-align: center;
}
.zone .number_data h4{
  font-size: 40px;
  padding-bottom: 10px;
}
/* Fine lightgreen */

/* Inizio white */
.white_space{
  width: 100%;
  height: 100%;
  background-color: #ffff;
}

/* Inizio Top white */
.white_top{
  padding: 20px 0;
}

.white_top_left{
  float: left;
  text-align: center;
  width: 15%;
  height: 200px;
}

.white_top_right{
  float: right;
  width: 60%;
  text-align: right;
}

.row_customers{
  height: 100px;
  width: 100%;
}
.logo_customers{
  display: inline;
  float: left;
  height: 100px;
  width: 25%;
  padding: 0 10px;
}
.logo_customers img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* Fine Top white */

/* Inizio Bottom white */
 .white_bottom_left{
  float: left;
  padding-top: 30px;
  width: 40%;
  height: 400px;
}

.white_bottom_left p{
  padding: 30px 0;
}
.white_bottom_left p:last-child{
  font-size: 13px;
}

.white_bottom_right{
  float: right;
  width: 25%;
  height: 400px;
}

.white_bottom_right img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Fine Bottom white *

/* Inizio footer */
footer{
  height: 600px;
  color: rgb(222, 221, 220);
  background-color: #32495b;
}

footer a{
  text-decoration: none;
  color: rgb(222, 221, 220)
}

footer li{
  list-style: none;
}

footer h3{
  color: white;
}
/* Inzio Top Footer */
.footer_top{
  height: 400px;
  padding-top: 30px;
}

.footer_top .col_menu{
  float: left;
  width: 25%;
  height: 100%;
}

.footer_top .col_menu li{
  padding: 10px 0;
}

#social{
  padding-top: 12px;
}
#social span{
  padding-right: 10px;
}
/* Fine Top Footer */

/* Inizio Bottom Footer */
.footer_bottom{
  height: 200px;
}

.footer_bottom .languages{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.footer_bottom .languages li{
  display: inline;
}

.footer_bottom a{
  padding: 0 20px;
}

.copyright{
  padding-top: 20px;
  height: 60%;
}

footer .col_left{
  float: left;
  width: 30%;
}
footer .col_right{
  float: right;
  width: 40%;
  height: 50px;
  line-height: 50px;
  text-align: right;
}
/* Fine Bottom Footer */

/* hover */
.btn:hover{
  background-color: rgb(255, 185, 140);
}

.btn_log:hover{
  background-color: grey;
}

i:hover{
  color: lightgreen;
}

header a:hover{
  color: black;
  font-weight: bold;
}

footer a:hover{
  color: black;
  font-weight: bold;
}
/* FIne Hover */
